<footer>
    <div class="container-fluid top-foot">
        <div class="row">
            <div class="col-md-8 ">
                <h2 class="text-center">Metodo de Uso</h2>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-8 col-md-4">
                            <p>
                                <b style="font-size: 23px;">Area</b><br />
                                Donde dice el area deberás poner el código de tu país. Si el teléfono es de Argentina tendrías que poner 54, para ver el código de tu país visita <a href="https://es.wikipedia.org/wiki/Anexo:Prefijos_telef%C3%B3nicos_mundiales" target="_blank">esta página</a>.
                            </p>
                        </div>
                        <div class="col-4 col-md-2">
                            <img src="../../../assets/img/word.svg" class="img-fluid" alt="Texto" />
                        </div>
                        
                        <div class="col-8 col-md-4">
                            <p>
                                <b style="font-size: 23px;">Teléfono</b><br />
                                Donde dice el teléfono deberás poner el número de teléfono al cual quieres que se le envie el mensaje cuando hagan click en el enlace, por ejemplo 1123882753.
                            </p>
                        </div>
                        <div class="col-4 col-md-2">
                            <img src="../../../assets/img/number.svg" class="img-fluid" alt="Texto" />
                        </div>
                        <div class="col-12 col-md-3"></div>
                        <div class="col-8 col-md-4">
                            <p>
                                <b style="font-size: 23px;">Mensaje</b><br />
                                Escribe el texto que aparecerá en el mensaje para enviar, una vez que el usuario haga click en el enlace. No se recomiendan mensajes largos pero si identificativos.
                            </p>
                        </div>
                        <div class="col-4 col-md-2">
                            <img src="../../../assets/img/area.svg" class="img-fluid" alt="Texto" />
                        </div>
                        
                    </div>
                </div>
                
            </div>
            <div class="col-md-4">
                <h2 class="text-center">Otras Herramientas</h2>

                <div class="d-grid gap-2" style="padding: 20px;" >
                    <a class="btn" href="https://qrgenerator.lynx.net.ar/" target="_blank" type="button">QRGenerator</a>
                </div>

            </div>
        </div>
    </div>

    <div class="bot-foot text-center">
        <p>Creado por <b><a href="https://lynx.net.ar/" target="_blanck">Lynx Software Design</a></b></p>
    </div>

</footer>